.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.price {
  font-weight: bold;
}

.btn-buy {
  background: #ff4fa3;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
