.footer {
  background: #111;
  color: #fff;
  padding: 40px 0;
  margin-top: 60px;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  flex-wrap: wrap;
  text-align: left;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 20px;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #ccc;
}
