.footer {
  width: 100vw;          /* ocupa todo el ancho de la pantalla */
  margin: 0;
  padding: 25px 10px;

  background-color: #050002; 
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
